<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iFrame</title>
</head>
<body>
  <h1>Client Site - Nested iFrame</h1>
  <iframe sandbox="allow-top-navigation" src="http://waldo.fred.plugh:4000/" style="border:none; width: 50%;" title="Iframe Example"></iframe>
  <div>
    <a href="http://foo.bar.baz:3000">Back</a>
  </div>
</body>
</html>