<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iFrame escaped!</title>
</head>
<body>
  <h1>Different webpage!!</h1>
  <a href="http://foo.bar.baz:3000/">
    <button>Go back</button>
  </a>
</body>
</html>