<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iFrame</title>
</head>
<body style="background-color: aquamarine; height: 200px;">
  <p>iFrame - http://waldo.fred.plugh:3500/</p>
  <a target="_top" href="http://qux.grault.garply:3600/">
    <button>Escape iFrame</button>
  </a>
</script>

</body>
</html>